* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Arial';
}

span {
  font-size: 25px;
  color: #333333;
}

/* MAIN */

#main {
  text-align: center;
  height: 100vh;
  background-color: hsl(0, 0%, 88%);
}

/* HEADER */

.title {
  position: relative;
  top: 4.5rem;
}

.quoteDisplay {
  margin: 9rem auto 2rem;
  padding: 1rem;
  /* border: 2px solid #333333; */
  border-radius: 2rem;
  width: 500px;
  height: auto;
  text-align: center;
  background-color: #ffffff;
  opacity: 0.8;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

#auth {
  font-weight: bold;
}

#inputQuote {
  width: 100%;
  margin: 1.1rem auto;
}

.field {
  width: 300px;
  margin: auto;
}

.benar {
  color: green;
}

.salah {
  color: red;
  text-decoration: underline;
}

/* RESPONSIVE VIEW */

@media (max-width: 768px) {
  .title {
    top: 2rem;
  }

  .quoteDisplay {
    margin-top: 5rem;
    width: 300px;
  }

  span {
    font-size: 16px;
  }

  #main {
    height: 100vh;
  }
}
